*{
box-sizing:border-box;
}

body{
font-size:16px;
font-family:arial,helvetica,sans-serif;
line-height:1.4em;
}

.contenedor{
width:980px;
margin:0 auto;
}

/*=========================
ENCABEZADO
=========================*/

.encabezado{
background:#8E44AD;
overflow:hidden;
}

.logo{
float:left;
position:relative;
top:15px;
}

.encabezado nav{
float:right;
}

.encabezado nav ul{
margin:0;
padding:0;
list-style:none;
}

.encabezado nav ul li{
display:inline-block;
margin-right:-4px;
}

.encabezado nav ul li a{
display:block;
color:#fff;
padding:28px;
border-left:1px solid #C77DFF;
text-decoration:none;
}

.encabezado nav ul li a:hover{
background:#B57EDC;
}

/*=========================
PRESENTACION
=========================*/

.presentacion{
background:radial-gradient(280px at 25% 10%, #E0AAFF, #8E44AD);
overflow:hidden;
border-bottom:3px solid #7D3C98;
}

.introduccion-presentacion{
float:left;
}

.introduccion-presentacion h1{
color:#fff;
font-size:2.625em;
text-shadow:1px 1px 0px #090909;
text-align:center;
margin-top:70px;
margin-bottom:40px;
margin-left:20px;
line-height:0.7em;
}

.introduccion-presentacion h1 span{
color:#fff;
font-size:0.38em;
}

a.aprender-mas{
font-size:2.1875em;
border:1px solid #8E44AD;
padding:30px 50px;
display:block;
text-align:center;
margin:10px 40px;
color:#fff;
text-decoration:none;
text-shadow:3px 7px 0 #000;
border-radius:10px;

background:linear-gradient(to top,#C77DFF,#8E44AD);

box-shadow:
0 8px 0 0 #6A0DAD,
0 0 25px 5px #E0AAFF;
}

a.aprender-mas:hover{
box-shadow:0 0 25px 5px #000;
}

.presentacion img{
float:right;
position:relative;
top:30px;
}

/*=========================
ACCESO RAPIDO
=========================*/

.acceso-rapido{
background:#B57EDC;
overflow:hidden;
border-bottom:3px solid #fff;
}

.acceso-rapido h2{
color:#fff;
font-size:1.87em;
text-shadow:1px 1px 0 #000;
text-align:center;
border-bottom:3px solid #fff;
padding-bottom:16px;
}

.acceso-rapido figure{
display:inline-block;
text-align:center;
width:25%;
margin:0 -4px 0 0;
padding:0;
}

.acceso-rapido h3{
font-size:1.1875em;
margin-top:9px;
margin-bottom:20px;
}

.acceso-rapido h3 a{
color:#fff;
text-shadow:1px 1px 0 #000;
font-weight:normal;
}

.acceso-rapido h3 a:hover{
text-decoration:none;
}

/*=========================
CONTENIDO
=========================*/

.bloque-contenido{
overflow:hidden;
}

.bloque-contenido .contenedor{
display:table;
}

.articulos{
background:beige;
width:65%;
display:table-cell;
padding-right:30px;
}

.articulos article{
margin-bottom:10px;
}

.articulos h2{
color:#444;
font-size:1.625em;
border-bottom:3px solid #8E44AD;
padding-bottom:25px;
}

.articulos img{
float:left;
margin-right:10px;
position:relative;
top:5px;
}

.articulos article h1{
font-size:1.25em;
margin:8px 0;
}

.articulos article h1 a{
color:#444;
text-decoration:none;
}

.articulos article h1 a:hover{
text-decoration:underline;
}

.articulos article p{
margin:0;
text-align:justify;
font-size:0.875em;
}

/*=========================
COMPLEMENTARIO
=========================*/

.complementario{
background:#8E44AD;
width:35%;
display:table-cell;
padding:0 20px 20px;
}

.complementario h2{
font-size:1.625em;
color:#fff;
font-weight:normal;
text-align:center;
}

.complementario ul{
margin:0;
padding:0;
list-style:none;
}

.complementario ul li{
background:url("imagen/icon.png") no-repeat left center;
padding-left:24px;
margin-bottom:8px;
}

.complementario ul li a{
color:#fff;
text-decoration:none;
}

.complementario ul li a:hover{
color:#FFD700;
text-decoration:underline;
}

/*=========================
SUSCRIPCION
=========================*/

.suscripcion{
overflow:hidden;
background:#eeeeee;
margin-top:20px;
}

.suscripcion h2{
float:left;
font-size:1.625em;
color:#444;
font-weight:normal;
}

.suscripcion form{
float:right;
position:relative;
top:20px;
}

.suscripcion form input{
border:1px solid #ccc;
padding:10px;
}

.suscripcion form input[type="submit"]{
border:1px solid #6A0DAD;
padding:10px;
background:#8E44AD;
color:#fff;
text-shadow:1px 1px 0 #000;
}

.suscripcion form input[type="submit"]:hover{
background:#C77DFF;
}

/*=========================
PIE DE PAGINA
=========================*/

.piedepagina{
background:#6A0DAD;
padding:20px 0;
}

.piedepagina .contenedor{
display:table;
}

.piedepagina small{
display:table-cell;
color:#fff;
}

.piedepagina nav{
display:table-cell;
text-align:right;
}

.piedepagina nav ul{
margin:0;
padding:0;
list-style:none;
}

.piedepagina nav ul li{
display:inline-block;
padding-left:10px;
}

.piedepagina nav ul li a{
color:#fff;
text-decoration:none;
}

.piedepagina nav ul li a:hover{
color:#FFD700;
text-decoration:underline;
}

/*=========================
REDES SOCIALES
=========================*/

.social{
position:fixed;
top:30%;
right:0;
}

.social a{
display:block;
margin-bottom:4px;
opacity:0.8;
}

.social a:hover{
opacity:1;
}

.social img{
border-radius:50%;
display:block;
}